*{
	font-family: helvetica, arial, sans-serif;
}

body{
	margin: 0px;
	padding: 0px;

	background: #fff;
	color: #1c1e21;
	line-height: 1.34;
}

.container{
	margin: 0px;
	padding: 20px 20px 20px 20px;

	width: 100%;
	height: 688px;
	background: #F0F2F5;
}


.main_sect{
	position: relative;
	top: 100px;

	margin: auto;

	width: fit-content;

	display: flex;
}

.greeting_cont{
	margin: 0px calc(398px * 0.37) 0px 0px;
	width: 450px;

	position: relative;
	top: 100px;
}

.form_cont{
	margin: 0px 0px calc(398px * 0.03) 0px;
}

img{
	position: relative;
	left: -22px;

	width: 290px;
	height: 48px;
	object-fit: cover;
}

.greeting_text{
	margin: 10px 0px 0px 0px;
	font-size: 27px;
	line-height: 1.2;
}

form{

	background: white;

	border: solid 1px #e9ebee;
	border-radius: 8px;
	box-shadow: 0px 5px 15px 0px rgba(153, 153, 0153, 0.5);

	margin: 0px;
	padding: calc(398px * 0.025);

	width: 398px;
	height: 349px;

	display: flex;
	flex-direction: column;
	align-items: center;

}

input{
	margin: 0px;
	padding: 2px 14px 2px 14px;

	border: 1px solid #e9ebee;
	border-radius: 7px;

	width: calc(398px * 0.90);
	height: calc(398px * 0.11);

	color: black;
}

::placeholder{
	color: gray;
}

input:hover::placeholder{
	color: #e9ebee;
}

input[name="username"]{
	margin-top: calc(398px * 0.02);
}

input:hover{
	border: 1px solid #1877F2;
}

input[name="password"]{
	margin: calc(398px * 0.025) 0px calc(398px * 0.04);
}

input, button{
	font-size: 16px;
}

.line{
	margin: 10px 0px 0px 0px;
	width: calc(398px * 0.95);
	
	border: 1px solid #e9ebee;
}

button{
	cursor: pointer;
}

button[type="submit"]{
	padding: 0px 14px;

	width: calc(400px * 0.95);
	height: calc(398px * 0.13);

	border: 1px;
	border-radius: 7px;

	background: #1877F2;
	color: white;
}

button[type="button"]{
	margin: calc(398px * 0.04) 0px;

	width: 235px;
	height: calc(398px * 0.13);

	border: 1px solid;
	border-radius: 7px;

	background: #3dbc23;
	color: white;
}

a{
	margin: calc(398px * 0.04) 0px;

	color: #1877F2;
	text-decoration: none;

}

.verified_acc{
	width: 400px;
	text-align: center;
}

